<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Jquery -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <title>회원 가입</title>
</head>
<body style="background-color: lightgray">
<div style="text-align: center; display: flex; justify-content: center">
    <div style=" padding: 20px; border: solid 1px gray; width: 400px; height: 600px; background-color: white">
        <div><img style="margin: 10px" src="https://postfiles.pstatic.net/MjAyNDAyMTJfMTg3/MDAxNzA3NzI5NDMxNTY2.yKE6a7muam6TLBtFgV7igFiRy1eiveoHkMBxU6MwHskg.-W57CUKRDi0fna_lCLjThnz9vVf_UGjDk94OV_64KPEg.PNG.ysys1226/image.png?type=w773"></div>
        <div style="font-weight: bold; color: gray; margin-bottom: 10px">친구들의 사진과 동영상을 보려면 가입하세요</div>
        <div>
            <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email_input" placeholder="example@email.com">
            <label for="email_input">이메일 주소</label>
            </div>  
        </div>
        <div>
            <div class="form-floating mb-3">
            <input type="text" class="form-control" id="name_input" placeholder="홍길동">
            <label for="name_input">이름</label>
            </div>  
        </div>
        <div>
            <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nickname_input" placeholder="홍길동">
            <label for="nickname_input">닉네임</label>
        </div>
        <div>
            <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password_input" placeholder="14234">
            <label for="password_input">비밀번호</label>
            </div>  
        </div>
        <button id="join_button" style="margin-bottom: 10px">가입</button>
        <div style="text-align: center">계정이 있으신가요? <a href="login">로그인</a></div>
    </div>
    </div>
    
</div>

<script>
    $('#join_button').click(function () {

        let email = $('#email_input').val();
        let password = $('#password_input').val();
        let nickname = $('#nickname_input').val();
        let name = $('#name_input').val();

        console.log(email, password, nickname, name);

        $.ajax({
            url     : "/user/join",
            data    : {
                email : email,
                password : password,
                nickname : nickname,
                name : name
            },
            method  : "POST",
            success : function (data){
                console.log("성공");
                alert("회원 가입 성공했습니다. 로그인해주세요.");
                location.replace('/user/login')
            },
            error   : function(request, status, error){
                console.log("에러");
            },
            complete: function() {
                console.log("완료");
            }
        });
    });
</script>

</body>
</html>